<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../css?family=Montserrat:300,400,500,600,700">
    <link rel="stylesheet" href="~/css/waitme.css">
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/style.css?0.0.1">
</head>
<body>
    <div class="preloader" id="loading">
        <div class="preloader-body">
            <div id="loading-center-object">
                <div class="object" id="object_four"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    
    
    
    <div class="page">

        @RenderSection("Header", required: false)
            
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="section footer-classic">
            <div class="footer-classic-main">
                <div class="container">
                    <div class="row row-50 justify-content-lg-between">
                        <div class="col-sm-7 col-lg-3 col-xl-2">
                            <a class="brand" href="index.html"><img class="brand-logo-dark" src="~/images/LOGONEW.png" alt="" width="600" height="400" loading="lazy" srcset="~/images/LOGONEW.png 2x"></a>
                            <p><span style="max-width: 250px;">We provide the best taxi services for you all over the USA.</span></p><a class="button button-sm button-default-outline button-winona" href="~/Home/Reservation">Reservation Now</a>
                        </div>
                        <div class="col-sm-5 col-lg-3 col-xl-2">
                            <h5 class="footer-classic-title">About</h5>
                            <ul class="list footer-classic-list">
                                <li><a href="~/Home/About">Hakkımızda</a></li>
                                <li><a href="~/Home/Gallery">Galeri</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-7 col-lg-5 col-xl-3">
                            <h5 class="footer-classic-title">Quick Links</h5>
                            <ul class="list footer-classic-list footer-classic-list_2-cols">
                                <li><a href="login.html">Rezervasyon</a></li>
                                <li><a href="services.html">İletişim</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-5 col-lg-9 col-xl-2">
                            <h5 class="footer-classic-title">Contacts</h5>
                            <div class="row row-20 row-sm-35">
                                <div class="col-6 col-sm-12 col-lg-8 col-xl-12">
                                    <div class="row row-10 text-black">
                                        <div class="col-lg-6 col-xl-12"><a href="mailto:#">info@demolink.org</a></div>
                                        <div class="col-lg-6 col-xl-12"><a href="tel:#">+90 532 435 97 07</a></div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-12 col-lg-4 col-xl-12 text-end text-sm-start">
                                    <div class="group group-xs"><a class="link link-social-1 mdi mdi-twitter" href="#"></a><a class="link link-social-1 mdi mdi-facebook" href="#"></a><a class="link link-social-1 mdi mdi-instagram" href="#"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-classic-aside">
                <div class="container">
                    <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>. TAZ</span></p>
                </div>
            </div>
        </footer>
    </div>

    <div class="snackbars" id="form-output-global"></div>

    <script src="~/js/core.min.js"></script>
    <script src="~/js/waitme.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
